.containerOf256Div{
    display: flex;
    flex-wrap:wrap;

    max-width: 50%;
    max-height: 50%;

    margin:25%;
    margin-top:0;
}


#modificationsToSquares{
    outline: 2px solid rgb(0, 0, 0);
    height: 20px;
    width: calc(1% * 100/16);
}



body{
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
}
.button1{
    width:fit-content;
    align-self: center;
    margin-top: 15%;
    margin-bottom:20px;
}